@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-g{
  background-color: #9F8F8F;
}
.bg-dark{
    background: rgb(54, 37, 37);
}
.color-icon{
  color: #252020;
}
.bg-pink
{
    background: #E89EB0;
}
.grow{
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
}
.text-pink-dark
{
    color: #1d1618;
}
.modal-open {
    display: block;
    transition-duration: 1s;
    opacity: 1;
    transform: translateY(0%);
}
.modal-close {
    transition-duration: 0.2s;
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
  }
  .dots {
    width: 100%;
    text-align: center;
  }
  .dots li {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #cccccc;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out,width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .liactive {
    background: rgba(255, 255, 255, 0.9) !important;
  }
 
.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease-in;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width:100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width:100%;
  opacity: 0;
}

.carousel{
  position: relative;
  height: calc(100vh - 400px);
}
.carousel img {
  width:100%
}
.text-ct
{
  font-size: 1rem;
  line-height: 1rem;
  color: hsl(240deg 2% 82%);
}
.text-vs
{
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.bg-chart
{
  background-color: #27293d;
}
.bg-dark
{
  background-color: #2a2b36;
}
.bg-dark-header
{
  background-color: #181924;
}
.rotate90{
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flag-discount {
  border-radius: 1px 0 0 1px;
  color: #fff;
  display: block;
  float: left;
  padding: 2px;
  background: #93274f;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.flag-discount::before,
.flag-discount::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  display: block;
}
.flag-discount::before {
  top: 0;
  border-width: 22px 15px 0 0;
  border-color: #93274f transparent transparent transparent;
}
.flag-discount::after {
  bottom: 0;
  border-width: 0 15px 22px 0;
  border-color: transparent transparent #93274f transparent;
}

