@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-dark{
    background: rgb(54, 37, 37);
}
.bg-pink
{
    background: #E89EB0;
}
.text-pink-dark
{
    color: #814252;
}